@{
    ViewBag.Title = "Inicio";
}

<div id="container" class="thumby">
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/1.jpg" class="resize">
                <div class="boxpad">
                    <div class="boxpad">
                        <p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <hr />RD$ 8,000
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/2.JPG" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 1,500
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/3.JPG" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 1,200
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/11.JPG" class="resize">
            </div>
        </div>
    </div>
    <div class="box medium">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/4.JPG" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 300
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/5.jpg" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 7,000
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/6.jpg" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 1,220,000
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/7.jpg" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 17,000
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/8.jpg" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 300
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/9.JPG" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 4,000
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/10.JPG" class="resize"><div class="boxpad">
                    Chris Arace - Image Maker<br /><hr />RD$ 120,000
                </div>
            </div>
        </div>
    </div>
    <div class="box medium">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/11.JPG" class="resize"><div class="boxpad">
                    <p class="example-title">Chris Arace - Image Maker</p><hr />RD$ 45,000
                </div>
            </div>
        </div>
    </div>
