@{
    ViewBag.Title = "Inicio";
}

<div id="container" class="thumby">
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/1.jpg" class="resize">
                <p class="example-title">Chris Arace - Image Maker</p>
                <div class="pricetext"><h4>RD$ 8,000</h4></div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/2.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 1,500</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/3.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 1,200</h4>
            </div>
        </div>
    </div>
    <div class="box medium">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/4.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 300</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/5.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 7,000</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/6.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 1,220,000</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/7.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 17,000</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/8.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 300</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/9.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 4,000</h4>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/10.JPG" class="resize">Chris Arace - Image Maker<br/><h4>RD$ 120,000</h4>
            </div>
        </div>
    </div>
    <div class="box medium">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://www.superjugadores.net/fotos/11.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p><h4>RD$ 45,000</h4>
            </div>
        </div>
    </div>
</div>
