@{
    ViewBag.Title = "Inicio";
}

        <div id="container" class="thumby">
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/1.jpg" class="resize">
                        <p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/2.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/3.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box big">
                        <img src="http://www.superjugadores.net/fotos/4.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/5.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/6.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/7.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/8.jpg" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/9.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box">
                        <img src="http://www.superjugadores.net/fotos/10.JPG" class="resize"><p class="example-title">Chris Arace - Image Maker</p>
                    </div>
                    <div class="box medium">
                        <img src="http://www.superjugadores.net/fotos/11.JPG" class="resize"><p class="example-title">RD$ 3,200</p>
                    </div>
                </div>