@{
    ViewBag.Title = "Inicio";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="container">
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/1.jpg" class="resize">
                <p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/2.JPG" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/3.JPG" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
        </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/4.JPG" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/5.jpg" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>        
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/6.jpg" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/7.jpg" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/8.jpg" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/9.JPG" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/10.JPG" class="resize"><p class="example-title"><h4>Chris Arace - Image Maker</h4></p>
            </div>
            <div class="box">
                <img src="http://www.superjugadores.net/fotos/11.JPG" class="resize"><p class="example-title"><h4>RD$ 3,200</h4></p>
            </div>
        </div>
    </div>
</div>



